{% extends "layout.html" %}

{% block title %}
Buy stock
{% endblock %}

{% block main %}
<h3 class="mb-4">Buy stock</h3>
<form action="/buy" method="post">
    <input type="text" autocomplete="off" autofocus name="symbol" placeholder="Stock Name eg.NFLX" class="form-control mx-auto w-auto" value="{{ stock if stock }}"><br>
    <input type="text" autocomplete="off" name="shares" placeholder="buy amount" class="form-control mx-auto w-auto"><br>
    <button type="submit" class="btn btn-primary">Buy</button>
</form>
{% endblock %}