{% extends "layout.html" %}

{% block title %}
Buy stock
{% endblock %}

{% block main %}
<h3 class="mb-4">Sell stock</h3>
<form action="/sell" method="post">
    <select name="symbol" class="form-select mx-auto w-auto">
        <option selected>Select stock</option>
        {% for stock in stocks %}
        <option value="{{ stock['stock'] }}">{{ stock['stock'] }}</option>
        {% endfor %}
    </select><br>
    <input type="text" autocomplete="off" name="shares" placeholder="sell amount" class="form-control mx-auto w-auto"><br>
    <button class="btn btn-primary" type="submit" class="mt-2">Sell</button>
</form>
{% endblock %}